.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-width);
    display: flex;
    padding: 0px var(--default-layout-horizontal-spacer);

}

.content {
    flex: 1;
}
